# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Local environment files
.env

# Temporary files
*.tmp

# Model/cache files
.cache/

# OS files
.DS_Store
Thumbs.db

# Generated dependency snapshot
requirements_freeze.txt

# Local satellite dataset
dataset/raw/
dataset/sample/
dataset/processed/
